<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录界面</title>
    <!-- jquery.min.js -->
    <script src="./libs/jquery/jquery.min.js"></script>
    <!-- vue.js -->
    <script src="./libs/vue/vue.min.js"></script>
    <!-- elementui 样式 -->
    <link rel="stylesheet" href="./libs/elementui/css/elementui.min.css">
    <!-- 登录页面的样式 -->
    <link rel="stylesheet" href="./styles/login.css">
    <!-- elementuzu组件 -->
    <script src="./libs/elementui/js/elementui.min.js"></script>
</head>

<body>
    
    <!-- 准备 dom -->
    <div id="app">
        <div id="loginBox">
            <h3 id="loginTitle">华联超市登录</h3>
            <el-form :model="loginForm" status-icon :rules="rules" ref="loginForm" label-width="100px" class="demo-loginForm">
                <el-form-item label=用户名 prop="username">
                    <el-input type="text" v-model="loginForm.username" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="password">
                    <el-input type="password" v-model="loginForm.password" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="确认密码" prop="confirmpwd">
                    <el-input type="password" v-model="loginForm.confirmpwd"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitForm('loginForm')">提交</el-button>
                    <el-button @click="resetForm('loginForm')">重置</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
    <script>
        //创建实例
        new Vue({
            el: '#app', //挂载dom
            data() {
                // 自己写一个检查密码的函数
                let checkPass = (rule, value, callback) => {
                    // 如果为空 请再次输入密码
                    if (value === '') {
                        callback(new Error("请再次输入密码！"))
                    } else if (value != this.loginForm.password) {      // 如果不等于密码的值 提示 密码不一致
                        callback(new Error("两次输入密码不一致！"))
                    } else {
                        callback();   // 成功的回调
                    }
                }
                return {
                    loginForm: {
                        username: '',
                        password: '',
                        confirmpwd: ''
                    },
                    // 验证规则
                    rules: {
                        // 验证用户名
                        username: [
                            {required: true, message: '请输入用户名', trigger: 'blur'}, // 非空验证
                            {min: 5, max: 12, message: '用户名长度在 5 到 12 个字符', trigger: 'blur'} // 长度验证
                        ],
                        // 验证密码
                        password: [
                            {required: true, message: '请输入密码', trigger: 'blur'}, // 非空验证
                            {min: 6, max: 12, message: '密码长度在 6 到 12 个字符', trigger: 'blur'} // 长度验证
                        ],
                        // 验证确认密码 (自定义验证规则)
                        confirmpwd: [
                            {required: true, validator: checkPass, trigger: 'blur' }  // 自定义验证函数
                        ],
                    }
                };
            },
            methods: {
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        //如果验证通过 
                        if (valid) {
                           //获取密码和用户名
                           let  userInfo={
                            username:this.loginForm.username,
                            password:this.loginForm.password
                           }
                           //发送ajax请求给后端 携带数据
                           $.post('./users/checkLogin',userInfo,function(data){
                               //console.log(data)
                               if(data.errcode===1){
                                   //成功 弹出登录成功的信息
                                   alert(data.msg)
                                   //跳转到首页
                                   location.href='./index.html'
                               }else{
                                   //弹出失败的信息
                                alert(data.msg)
                               }
                           })
                        } else {//验证不通过
                            console.log('验证不通过');
                            return false;
                        }
                    });
                },
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                }
            }
        })

    </script>
</body>

</html>