<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加账户</title>
    <!-- 引入jquery -->
    <script src="./libs/jquery/jquery.min.js"></script>
    <!-- vue.js -->
    <script src="./libs/vue/vue.min.js"></script>
    <!-- elementui 样式 -->
    <link rel="stylesheet" href="./libs/elementui/css/elementui.min.css">
    <!-- 登录页面的样式 -->
    <link rel="stylesheet" href="./styles/userAdd.css">
    <!-- elementuzu组件 -->
    <script src="./libs/elementui/js/elementui.min.js"></script>
    <!-- 前端发送请求   检测cookie是否存在 -->
    <script src="/users/checkIsLogin"></script>
</head>

<body>
    <!-- dom -->
    <div id="app">
        <!-- 主体框架 -->
        <el-container>
            <!-- 左侧 -->
            <el-aside width="222px">
                <!-- 左侧上边内容 -->
                <div id="title">
                    <h5>华联超市管理系统</h5>
                    <p>您好 admin</p>
                    <div id="nav">
                        <a href="">管理首页</a>
                        <span>|</span>
                        <a href="/users/logout">退出系统</a>
                    </div>
                </div>
                <!-- 左侧导航栏 -->
                <el-menu :unique-opened="true" default-active="2" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" background-color="#292929"
                    text-color="#fff" active-text-color="#ffd04b"  :default-openeds="['6']" :default-active=" '6-1'">
                    <el-submenu index="1">
                        <template slot="title">
                            <span>分类管理</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="1-1">分类管理</el-menu-item>
                            <el-menu-item index="1-2">添加分类</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="2">
                        <template slot="title">
                            <span>商品管理</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="2-1"><a href="./goodsList.html">商品管理</a></el-menu-item>
                            <el-menu-item index="2-2"><a href="./goodsAdd.html">添加商品</a></el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="3">
                        <template slot="title">
                            <span>进货管理</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="3-1">库存管理</el-menu-item>
                            <el-menu-item index="3-2">添加库存</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="4">
                        <template slot="title">
                            <span>出货管理</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="4-1">销售列表</el-menu-item>
                            <el-menu-item index="4-2">商品出库</el-menu-item>
                            <el-menu-item index="4-3">商品退货</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="5">
                        <template slot="title">
                            <span>统计管理</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="5-1">销售统计</el-menu-item>
                            <el-menu-item index="5-2">进货统计</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="6">
                        <template slot="title">
                            <span>账号管理</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="6-1"><a href="userList.html">账号管理</a></el-menu-item>
                            <el-menu-item index="6-2"><a href="userAdd.html"> 添加账号</a></el-menu-item>
                            <el-menu-item index="6-3">密码修改</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="7">
                        <template slot="title">
                            <span>会员管理</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="7-1">账号管理</el-menu-item>
                            <el-menu-item index="7-2">添加账号</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="8">
                        <template slot="title">
                            <span>系统管理</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="8-1">系统信息</el-menu-item>
                            <el-menu-item index="8-2">系统配置</el-menu-item>
                            <el-menu-item index="8-3">权限管理</el-menu-item>
                            <el-menu-item index="8-4">添加管理组</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <!-- 右侧 -->
            <el-container>
                <!-- 右侧头部 -->
                <el-header>
                    <h4>欢迎您 admin</h4>
                    <span>修改账号信息</span>
                </el-header>
                <!-- 右侧主体内容 -->
                <el-main>
                    <el-card class="box-card">
                        <!-- 主体内容头部 -->
                        <div slot="header" class="clearfix">
                            <span>修改账号信息</span>
                        </div>
                        <!-- 表单验证 -->
                        <el-form :model="editForm" status-icon :rules="rules" ref="editForm" label-width="100px" class="demo-ruleForm">
                            <el-form-item label="用户名" prop="username">
                                <el-input type="text" v-model="editForm.username" autocomplete="off"></el-input>
                            </el-form-item>
                            <el-form-item label="密码" prop="password">
                                <el-input type="password" v-model="editForm.password" autocomplete="off"></el-input>
                            </el-form-item>
                            <el-form-item label="选择用户组" prop="groups">
                                    <el-select v-model="editForm.groups" placeholder="请选择用户组">
                                      <el-option label="普通用户" value="普通用户"></el-option>
                                      <el-option label="超级管理员" value="超级管理员"></el-option>
                                    </el-select>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="submitForm('editForm')">修改</el-button>
                                <el-button @click="resetForm('editForm')">重置</el-button>
                            </el-form-item>
                        </el-form>
                    </el-card>
                </el-main>
                <!-- 页脚 -->
                <el-footer>
                    <span>&copy; Copyright 2018 华联超市管理系统</span>
                </el-footer>
            </el-container>
        </el-container>
    </div>
    <script>
        new Vue({
            el: "#app",
            data() {
                return {
                    //表单需要的数据源
                    editForm: {
                        username: '',
                        password: '',
                        groups:''
                    },
                    // 验证规则
                    rules: {
                        // 用户名
                        username: [
                            { required: true, message: '请输入用户名', trigger: 'blur' }, // 非空验证
                            { min: 5, max: 12, message: '用户名长度在 5 到 12 个字符', trigger: 'blur' } // 长度验证
                        ],
                        //密码
                        password: [
                            { required: true, message: '请输入密码', trigger: 'blur' }, // 非空验证
                            { min: 6, max: 12, message: '密码长度在 6 到 12 个字符', trigger: 'blur' } // 长度验证
                        ],
                         // 选择用户组
                         groups: [
                            {required: true, message: "请选择用户组", trigger:'change'}
                        ]
                    }
                };
            },
            //生命周期钩子函数   用来准备数据
            created(){
                //获取的带id的网址  http://localhost:256/userEdit.html?id=12
                 //保存this 
                 let _this=this;
                 //获取id
                 //console.log(location.href)  http://localhost:256/userEdit.html?id=12
                 let id=location.href.split('=')[1]
                 //console.log(id) 获取到id
                 //发送ajax请求给后端  携带id
                 $.get(`./users/useredit?id=${id}`,function(data){
                     //console.log(data[0])
                     _this.editForm.username=data[0].username
                     _this.editForm.password=data[0].username
                     _this.editForm.groups=data[0].groups
                 })

            },
            methods: {
                handleOpen(key, keyPath) {
                    console.log(key, keyPath);
                },
                handleClose(key, keyPath) {
                    console.log(key, keyPath);
                },
                //修改
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                    //如果验证通过 valid为true
                        if (valid) {
                           //验证通过后需要将修改后的数据发送给后端 采用 ajax的方式
                           //测试是否有数据
                         // console.log(this.editForm.username,this.editForm.password,this.editForm.groups,location.href.split('=')[1]) 
                        // 用变量保存需要传输的数据
                        const params={
                            username:this.editForm.username,
                            password:this.editForm.password,
                            groups:this.editForm.groups,
                            id:location.href.split('=')[1]
                        }
                        //构造ajax 将数据传输给后端
                        $.post('/users/saveedit',params,function(data){
                            //console.log(data);
                            if(data.errcode===1){
                                //弹出提示信息
                                alert(data.msg);
                                //跳转到账户列表页面
                                location.href="./userList.html"
                            }else{
                                alert(data.msg)
                            }
                        })
                        } else {
                            console.log('验证不通过');
                            return false;
                        }
                    });
                },
                // 重置
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                }
            }
        })
    </script>
</body>

</html>